@charset "utf-8";
@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Semibold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: OpenSans;
  src: url(../font/OpenSans-Light.ttf);
  font-weight: 300;
}

*{box-sizing: border-box; font-family: OpenSans;}
html,body{ margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{ margin: 0; padding: 0; }
ol, ul{ list-style: none; margin: 0; padding: 0; }
a, a:hover{ text-decoration: none; color: inherit; }


/* header */
header{
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
header .hd_wrap{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hd_wrap .logo{
  width: 170px;
}
header .hd_wrap .logo a{}
header .hd_wrap .logo a img{
  display: block;
  width: 162px;
}

header .hd_wrap .gnb{
  display: flex;
}
header .hd_wrap .gnb > li{
  position: relative;
  
}
header .hd_wrap .gnb > li:hover{
  background-color: #eee;
}
header .hd_wrap .gnb > li:hover:before{
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f47321;
}

header .hd_wrap .gnb > li > a{
  display: block;
  padding: 0 30px;
  height: 90px;
  line-height: 90px;
  font-size: 14px;
}
header .hd_wrap .gnb > li:hover > a{
  color: #f47321;
}


header .hd_wrap .gnb > li .sub{
  display: none;

  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  background-color: #eee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
header .hd_wrap .gnb > li:hover .sub{
  display: flex;
}


header .hd_wrap .gnb > li .sub li{
  padding: 3px 0;
}
header .hd_wrap .gnb > li .sub li a{
  font-size: 13px;
  color: #555;
}
header .hd_wrap .gnb > li .sub li:hover a{
  color: #f47321;
}


header .hd_wrap .hd_menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 170px;
}
header .hd_wrap .hd_menu .lang{
  display: flex;
}
header .hd_wrap .hd_menu .lang li{
  width: 30px; height: 30px;
  border-radius: 50%;
  background-position: 30px 0;
}
header .hd_wrap .hd_menu .lang li:last-child{
  margin-left: 10px;
}

header .hd_wrap .hd_menu .lang li:nth-child(1){
  background-image: url(../img/kor_btn.png);
}
header .hd_wrap .hd_menu .lang li:nth-child(2){
  background-image: url(../img/eng_btn.png);
}

header .hd_wrap .hd_menu .lang li:hover,
header .hd_wrap .hd_menu .lang li.active{
  background-position: 0 0;
}

header .hd_wrap .hd_menu .lang li a{
  display: block;
  height: 100%;
  border-radius: 50%;
  text-indent: -9999px;
}


header .hd_wrap .hd_menu .hbg_btn{
  width: 27px; height: 19px;
  margin-left: 30px;
  background-image: url(../img/btn-gnbutil.png);
  text-indent: -9999px;
}
header .hd_wrap .hd_menu .hbg_btn:hover{
  background-position: right;
}
header .hd_wrap .hd_menu .hbg_btn a{
  display: block;
  height: 100%;
}



header .all_menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.7s;
}
header .all_menu.active{
  max-height: 330px;
}

header .all_menu .all_menu_wrap{
  width: 1200px;
  margin: 0 auto; 
  padding: 0 10px; 
  position: relative;
}
header .all_menu .all_menu_wrap .logo{
  width: 320px;
  height: 90px;
  float: left;
  display: flex;
  align-items: center;
}
header .all_menu .all_menu_wrap .logo a{

}
header .all_menu .all_menu_wrap .logo a img{
  display: block;
  width: 162px;
}


header .all_menu .all_menu_wrap .gnb{
  padding-top: 18px;
  width: 630px;
  display: flex;
  flex-direction: column;
  float: left;
  padding-bottom: 40px;
}
header .all_menu .all_menu_wrap .gnb > li{
  position: relative;
  border-bottom: 1px solid #ddd;
}
header .all_menu .all_menu_wrap .gnb > li > a{
  display: block;
  width: 108px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  height: 55px;
  line-height: 55px;
}
header .all_menu .all_menu_wrap .gnb > li > a:after{
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: #f47321;
}
header .all_menu .all_menu_wrap .gnb > li > a .more{
  display: none;
}


header .all_menu .all_menu_wrap .gnb > li .sub{
  position: absolute;
  left: 108px;
  top: 0;
  display: flex;
  padding-left: 15px;
}
header .all_menu .all_menu_wrap .gnb > li .sub li{}
header .all_menu .all_menu_wrap .gnb > li .sub li a{
  display: block;
  font-size: 13px;
  color: #555;
  padding-right: 15px;
  height: 55px;
  line-height: 55px;
}
header .all_menu .all_menu_wrap .gnb > li .sub li a:hover{
  color: #f47321;
}


header .all_menu_wrap .x_btn{
  position: absolute;
  top: 30px;
  right: 0;
  width: 23px; height: 23px;
  background-image: url(../img/btn-close.png);
  cursor: pointer;
  text-indent: -9999px;
}
header .all_menu_wrap .x_btn:hover{
  background-position: bottom;
}




/* footer */
footer{
  width: 100%;
  background-color: #555;
  padding: 60px 0;
  position: relative;
}
footer .ft_wrap{
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
footer .ft_wrap .ft_left{
  display: flex;
}
footer .ft_wrap .ft_left .ft_logo{}
footer .ft_wrap .ft_left .ft_logo img{
  display: block;
  padding-right: 40px;
}
footer .ft_wrap .ft_left .ft_cont{}
footer .ft_wrap .ft_left .ft_cont .ft_menu{
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
footer .ft_wrap .ft_left .ft_cont .ft_menu li{}
footer .ft_wrap .ft_left .ft_cont .ft_menu li:after{
  content: "│";
  color: #fff;
}
footer .ft_wrap .ft_left .ft_cont .ft_menu li:last-child:after{
  content: none;
}

footer .ft_wrap .ft_left .ft_cont .ft_menu li a{
  font-size: 14px;
  color: #fff;
}

footer .ft_wrap .ft_left .ft_cont .company_info{}
footer .ft_wrap .ft_left .ft_cont .company_info address{
  font-size: 14px;
  color: #fff;
  font-style: normal;
}
footer .ft_wrap .ft_left .ft_cont .company_info .copy{
  font-size: 14px;
  color: #fff;
}

footer .ft_wrap .ft_right{}
footer .ft_wrap .ft_right .ft_sns{
  display: flex;
  justify-content: flex-end;
}
footer .ft_wrap .ft_right .ft_sns li{
  width: 30px; height: 30px;
  margin-left: 7px;
  text-indent: -9999px;
  cursor: pointer;
}
footer .ft_wrap .ft_right .ft_sns li:nth-child(1){
  background-image: url(../img/sns.png);
  background-position: 0 0;
}
footer .ft_wrap .ft_right .ft_sns li:nth-child(2){
  background-image: url(../img/sns.png);
  background-position: 90px 0;
}
footer .ft_wrap .ft_right .ft_sns li:nth-child(3){
  background-image: url(../img/sns.png);
  background-position: 60px 0;
}
footer .ft_wrap .ft_right .ft_sns li:nth-child(4){
  background-image: url(../img/sns.png);
  background-position: 30px 0;
}
footer .ft_wrap .ft_right .ft_sns li a{}

footer .ft_wrap .ft_right .fam_site{
  margin-top: 20px;
  position: relative;
}
footer .ft_wrap .ft_right .fam_site .site_head{
  width: 164px; height: 30px;
  background-image: url(../img/site_head.jpg);
  cursor: pointer;
  text-indent: -9999px;
}
footer .ft_wrap .ft_right .fam_site .site_list{
  position: absolute;
  width: 279px; height: 410px;
  background-image: url(../img/site_body.jpg);
  border: 1px solid #000;
  bottom: 100%;
  right: -1px;
  text-indent: -9999px;
  z-index: 1;
  
  display: none;
}
footer .ft_wrap .ft_right .fam_site .site_list.active{
  display: block;
}


/* top btn */
footer .top_btn{
  width: 40px; height: 40px;
  background-image: url(../img/top_btn.png);
  position: absolute;
  right: 40px;
  top: -60px;
  cursor: pointer;
  display: none;
}

footer .top_btn:hover{
  filter: brightness(0.7);
}


/*****************서브페이지******************/
.banner{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.banner h2{
  width: 100%;
  text-align: center;
  position: absolute;
  top: calc((100% - 90px) / 2 + 90px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: -4px 4px 10px rgba(0,0,0,0.6);
}

/* 네비게이터 */
.nav{
  padding-top: 20px;
}
.nav .inner{
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.nav ol{
  display: flex;
  justify-content: flex-end;
}
.nav ol li{
  position: relative;
  list-style-image: url(../img/menu_bar.png);
  margin-right: 25px;
}
.nav ol li:first-child{
  list-style-image: none;
}
.nav ol li:last-child{
  margin-right: 0;
}
.nav ol li:last-child a{
  font-weight: normal;
  color: #000;
}

.nav ol li a{
  text-transform: capitalize;
  font-size: 14px;
  color: #777;
  line-height: 24px;
  vertical-align: bottom;
}


@media (max-width:1199px){
  /* header */
  header .hd_wrap{
    width: 100%;
    justify-content: flex-start;
    position: relative;
  }
  header .hd_wrap .logo{
    width: 130px;
  }
  header .hd_wrap .logo a img{
    width: 100px;
  }
  
  header .hd_wrap .gnb > li > a{
    padding: 0 14px;
  }

  header .hd_wrap .hd_menu{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  header .hd_wrap .hd_menu .hbg_btn{
    margin-left: 10px;
  }

  /* all menu */
  header .all_menu.active{
    max-height: 100vh;
  }
  header .all_menu .all_menu_wrap{
    width: 100%;
  }
  header .all_menu .all_menu_wrap .logo{
    width: 100%;
    height: 70px;
    margin-left: 30px;
  }
  header .all_menu .all_menu_wrap .logo a img{
    width: 100px;

  }
  header .all_menu .all_menu_wrap .gnb{
    width: 100%;
    padding: 0 72px 40px;
  }


  header .all_menu_wrap .x_btn{
    right: 30px;
  }

  /* footer */
  footer{
    padding: 40px 0 30px;
  }

  footer .ft_wrap{
    width: 100%;
    display: block;
    padding: 0 20px;
  }
  footer .ft_wrap .ft_left .ft_logo{
    width: 140px;
  }


  footer .ft_wrap .ft_right{
    padding-left: 140px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .ft_wrap .ft_right .ft_sns{
    justify-content: flex-start;
  }
  footer .ft_wrap .ft_right .ft_sns li{
    margin-left: 0;
    margin-right: 7px;
  }
  footer .ft_wrap .ft_right .ft_sns li:last-child{
    margin-right: 0;
  }

  footer .ft_wrap .ft_right .fam_site{
    margin-top: 0;
  }

  /* top btn */
  footer .top_btn{
    right: 50%;
    transform: translateX(50%);
  }

  /* 서브페이지 */
  .nav .inner{
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width:767px){
  /* header */
  header .hd_wrap .gnb{
    display: none;
  }

  /* all menu */
  header .all_menu{
    top: 90px;
  }

  header .all_menu .all_menu_wrap .logo{
    display: none;
  }

  header .all_menu .all_menu_wrap .gnb{
    padding: 0 32px 50px;
  }
  header .all_menu .all_menu_wrap .gnb > li{
    border-bottom: 0;
  }
  header .all_menu .all_menu_wrap .gnb > li > a{
    width: 100%;
    font-size: 18px;
    position: relative;
    height: 64px;
    line-height: 64px;
  }
  header .all_menu .all_menu_wrap .gnb > li > a .more{
    display: block;
    width: 30px;
    height: 64px;
    background-image: url(../img/m_menu_btn.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 0;
    top: 0;
  }

  header .all_menu .all_menu_wrap .gnb > li .sub{
    display: none;
    position: relative;
    top: 5px;
    left: 0;
    padding-left: 0;
  }
  header .all_menu .all_menu_wrap .gnb > li.active .sub{
    display: block;
  }
  header .all_menu .all_menu_wrap .gnb > li .sub li a{
    line-height: 20px;
    height: 20px;
  }

  header .all_menu_wrap .x_btn{
    display: none;
  }


  /* footer */
  footer{
    text-align: center;
  }
  footer .ft_wrap .ft_left{  
    display: block;
  }

  footer .ft_wrap .ft_left .ft_logo{
    display: inline-block;
    padding-bottom: 20px;
  }
  footer .ft_wrap .ft_left .ft_logo img{
    padding-right: 0;
    margin: 0 auto;
  }

  footer .ft_wrap .ft_left .ft_cont .ft_menu{
    justify-content: center;
  }
  footer .ft_wrap .ft_left .ft_cont .ft_menu li{
    padding: 0 5px;
  }
  footer .ft_wrap .ft_left .ft_cont .ft_menu li:after{
    content: none;
  }

  footer .ft_wrap .ft_right{
    flex-direction: column;
    padding-left: 0;
  }
  footer .ft_wrap .ft_right .fam_site{
    margin-top: 20px;
  }
  footer .ft_wrap .ft_right .fam_site .site_list{
    right: 50%;
    transform: translateX(50%);
  }
  

    /* 서브페이지 */
    .banner{
      height: 300px;
    }
    .banner h2{
      font-size: 18px;
    }

    .nav{
      visibility: hidden;
    }

}